.vb__features {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* Changed to column to stack children vertically */
    justify-content: center;
    align-items: center;
}


.vb__features-heading {
    width: 100%;
    /* Full width to allow the heading to be on its own line */
    text-align: center;
    /* Center the text inside the heading */
    margin-bottom: 2rem;
    /* Space below the heading */
}


.vb__features-heading h1 {
    font-size: 34px;
    line-height: 45px;
    font-weight: 800;
    font-family: var(--font-family);
}

.vb__features-heading p {
    color: var(--color-subtext);
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    font-family: var(--font-family);

    margin-top: 2rem;
}

.vb__features-container {
    flex: 1.5;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 990px) {
    .vb__features {
        flex-direction: column;
    }

    .vb__features-heading {
        margin: 0 0 2rem 0;
    }
}


@media screen and (max-width: 550px) {
    .vb__features-heading h1 {
        font-size: 28px;
        line-height: 38px;
    }
}

.team__wrapper {
    display: flex;
    flex-wrap: wrap;
    /* Allows items to wrap onto the next line when space runs out */
    justify-content: center;
    /* Centers items horizontally */
    align-items: center;
    /* Aligns items vertically at their center */
    gap: 2rem;
    /* Provides space between the items */
}

.team__img img {
    width: 250px;
    /* Increase the size from 150px to 180px */
    height: 250px;
    /* Ensure width and height are the same for a perfect circle */
    border-radius: 50%;
    /* This will make the image round */
    object-fit: cover;
    /* Ensures the image covers the space without distortion */
}

.team__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centering the content */
    margin: 1rem;
    text-align: center;
}

.team__details h4 {
    margin-top: 1rem;
    font-size: 18px;
    font-weight: bold;
}

.team__details .description {
    font-size: 16px;
    color: var(--color-subtext);
}

.team__member-social {
    display: flex;
    justify-content: center;
    /* Center the icons */
    margin-top: 0.5rem;
}

.team__member-social span {
    margin: 0 5px;
    cursor: pointer;
    color: var(--primary-color);
}

.team__member-social i {
    font-size: 24px;
}