.vb__possibility {
    display: flex;
    flex-direction: row;
}

.vb__possibility-image {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    margin-right: 2rem;
}

.vb__possibility-image img {
    width: 100%;
    height: 100%;
}

.vb__possibility-content {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
}

.vb__possibility-content h4 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #71E5FF;
}

.vb__possibility-content h4:last-child {
    color: #ff8A71;
}

.vb__possibility-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 34px;
    line-height: 45px;
    margin: 1rem 0;
}

.vb__possibility-content p {
    color: var(--color-text);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;

    margin-bottom: 2rem;
}

@media screen and (max-width: 950px) {
    .vb__possibility {
        flex-direction: column;
    }

    .vb__possibility-image {
        margin: 1rem 0;
    }

    .vb__possibility-image img {
        width: unset;
        height: unset;
    }

    .vb__possibility-content {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 700px) {
    .vb__possibility-image img {
        width: 100%;
        height: 100%;
    }
}

